NEXT_PUBLIC_SUPABASE_URL=https://hynbackdbibvfzlofptc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_Il01-v1-hS7dwAJ62aL1Rg_6IaeJ5X1
NEXT_PUBLIC_DONATE_URL=https://send.monobank.ua/jar/4PejPcCTHe
NEXT_PUBLIC_TELEGRAM_URL=https://t.me/aarriicchh